[submodule "ansible_wrapper"]
	path = ansible_wrapper
	url = https://github.com/spandanb/orange_ansible_wrapper.git
[submodule "docker"]
	path = docker
	url = https://github.com/spandanb/sla_orc.git
[submodule "multi"]
	path = multi
	url = https://github.com/spandanb/orange_multi
[submodule "parser"]
	path = parser
	url = https://github.com/spandanb/orange_parser.git
[submodule "utils"]
	path = utils
	url = https://github.com/spandanb/orange_utils.git
[submodule "vino"]
	path = vino
	url = https://github.com/spandanb/orange_vino.git
[submodule "container_aws"]
	path = container_aws
	url = https://github.com/singh264/container_aws.git
